.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  margin-bottom: 90px;
  margin-top: 70px;
  max-width: 380px;
}

.form_title {
  text-align: center;
  font-size: var(--font-size-extra-large); /* Использование переменной */
  font-weight: 400;
  line-height: var(--font-size-extra-large); /* Использование переменной */
  margin-bottom: 20px;
}

.form_content_wrapper {
  max-width: 380px;
  flex-direction: column;
  width: 100%;
}

.upload_container {
  display: flex;
  align-items: center;
  height: 54px;
  background: var(--input-text-color);
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 4px;
  margin-top: 38px;
}

.upload_button {
  background: var(--input-text-color);
  border: 1px solid var(--text-color);
  padding: 0 20px;
  cursor: pointer;
  font-size: var(--font-size-regular); /* Использование переменной */
  border-right: 1px solid var(--text-color);
  height: 100%;
  transition: background-color 0.3s ease;
}

.upload_button:hover {
  background-color: var(--upload-btn-hover);
}

.image_preview_container {
  margin-left: 10px;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding-right: 66px;
}

.image_preview {
  max-width: 100%;
  max-height: 100%;
}

.error_message {
  color: var(--error-color);
  font-size: var(--font-size-small); /* Использование переменной */
  text-align: left;
  margin-left: 2px;
}

.form_btn_wrapper {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.submit_btn {
  height: 50.5px;
  color: white;
  background: var(--input-placeholder-color);
  border: 1px solid var(--input-placeholder-color);
  font-size: var(--font-size-regular); /* Использование переменной */
  font-weight: 400;
  line-height: 26px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  box-sizing: border-box;
}

.submit_btn:hover {
  background: var(--submit-btn-hover);
}

.input_error {
  border: 2px solid var(--error-color);
  color: var(--error-color);
}

.error_border {
  border: 2px solid var(--error-color);
}

.error_btn_input {
  border-right: 2px solid var(--error-color);
  border-radius: 0px;
  border-left: none;
  border-top: none;
  border-bottom: none;
}
