.body {
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
}

.members_grid {
  margin: 20px auto;
  padding: 20px;
}

.members_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-items: center;
}

.member_card {
  background-color: var(--background-color); /* Использование переменной */
  padding: 20px;
  border: 1px solid var(--input-border-color); /* Использование переменной */
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.member_photo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.members_title {
  font-size: var(--font-size-extra-large); /* Использование переменной */
  font-weight: 400;
  line-height: var(--font-size-extra-large); /* Использование переменной */
  text-align: center;
  padding-top: 110px;
}

.member_text_wrapper {
  max-width: 80%;
  margin: 0 auto;
}

.member_text {
  padding: 0px;
  margin: 0px;
  word-break: break-all;
}

.btn_wrapper {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 40px;
}

.member_title {
  padding-bottom: 20px;
  margin: 0px;
  word-break: break-all;
}

/* Media queries for responsive design */

@media (max-width: 1023px) {
  .members_list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .members_list {
    grid-template-columns: 1fr;
  }

  .members_title {
    padding-left: 30px;
    padding-right: 30px;
  }
}
