.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  margin-bottom: 90px;
  margin-top: 70px;
}

.form_title {
  text-align: center;
  font-size: var(--font-size-extra-large); /* Использование переменной */
  font-weight: 400;
  line-height: var(--font-size-extra-large); /* Использование переменной */
  margin-bottom: 20px;
}

.form_content_wrapper {
  max-width: 380px;
  flex-direction: column;
  width: 100%;
}

.form_btn_wrapper {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.success_screen {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}

.success_title {
  font-size: var(--font-size-extra-large); /* Использование переменной */
  font-weight: 400;
  line-height: var(--font-size-extra-large); /* Использование переменной */
  text-align: center;
}

.success_img {
  width: 300px;
  height: 300px;
}

.input_error {
  border: 2px solid var(--error-color);
  color: var(--error-color);
}

.error_message {
  color: var(--error-color);
  font-size: var(--font-size-small); /* Использование переменной */
  text-align: left;
  margin-left: 2px;
}
